<div id='logo'>
  <div>
  <span id='luck'>LUCK</span><span id='mgmt'>mgmt</span>
  </div>
  <div>http://www.luckmgmt.com</div>
  <div>917.720.2252</div>
</div>


<div class='portfolio'>

  <ul class="inline-list">
    <li><h3>Portfolio</h3></li>
    <li><a href="http://biandangnyc.com">Bian Dang</a></li>
    <li><a href="http://fishingshrimp.com">Fishing Shrimp</a></li>
    <li><a href="http://dumbolot.com">DUMBO Lot</a></li>
  </ul>
</div>

